/* =========================
   Global Styles
   ========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  border:#aaa dashed 1px;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Autoharp\ image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    z-index: -1; /* Ensure it stays behind other content */

}
body {
    /* background: url(Autoharp\ image.jpg); */
    transform: none;
    width: 100%;
    height: 100%;
    background-size: 200%;
    background-repeat: no-repeat;
    background-color: black;
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
    font-size: x-large;
    margin: 0;
    /* background: rgb(104, 104, 104); */
    /* background-image: url("data:image/svg+xml,..."); */
}

@media (orientation: portrait) {
    body::before {
        /* Swap width and height for rotated image */
        width: 100vh;
        height: 100vw;
        left: 50%;
        top: 50%;
        transform:  translate(-50%, -50%) rotate(90deg);
        background-image: url(Autoharp\ image.jpg);
        background-size: cover;
    }
}


/* =========================
   Panel Styles
   ========================= */
.panel {
    margin-top: 10%;
    margin-left: 5%;
    padding: 5% 5% 5% 6%;
    background-color: rgb(253, 253, 253);
    border-left-style: none;
    border-radius: 30px 0 0 30px;
    border-top-width: 2px;
    border-left-width: 10px;
    z-index: 0;
    display: flexbox;
    position: relative;
    min-width: 100%;
}

/* Space the text sections in the Panel out with a 5% after-margin. */
.panel > div > div {
    margin-bottom: 5%;
}
.panel > div > div:last-child {
    margin-bottom: 0;
}

/* =========================
   Input Styles
   ========================= */
.chordInput {
      position: relative;
      float: left;
  min-width: 60px;
    margin-bottom: 20px;
    height: 40px;
    width:100px;  

}
/* IE11 hide native button */
select::-ms-expand {
display: none;
}

.chordInput:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */
  
  position: absolute;
  pointer-events: none;
}

.chordInput select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: left;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}


/* // Custom arrow */
  select:after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: black;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }

/* // Interim solution until :focus-within has better support */



/* =========================
   Music Staff Styles
   ========================= */

.music-staff {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* border: 1px solid #ccc; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* ==========================
   Label Styles
   ========================= */

   .labels{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0px;
   }

   .label{
    text-align: left;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
   }

/* =========================
   Bracketed/Barline Section Styles
   ========================= */
.bracketed-section {
    position: relative;
    padding-left: 5%;
    min-height: 40px;
    width: 100%;
}

/* Musical Bracket Icon */
.bracketed-section::before {
    position: absolute;
    background: no-repeat #825e35;
    mask-image: url("musical bracket brace custom-cropped.svg");
    mask-repeat: no-repeat;
    mask-position: 0% -4px;
    mask-size: 8% 104%;
    background-position: 0% -2%;
    top: 0;
    right: 0;
    bottom: 0;
    left: -1%;
    content: '';
    min-height: 30%;
    mix-blend-mode: normal;
    pointer-events: none;
    animation: none;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.barline-section{
    background-image: linear-gradient(to right, #9e8263 2px, transparent 2px);
    background-size: 2px 100%;
    background-position: left top;
    background-repeat: no-repeat;
}

/* =========================
   Chord Group Styles
   ========================= */
.chordGroup {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
    transition: all .3s ease;
    /* Optional background for staff lines */
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* border: 1px solid #ccc; */
    padding: 10px;
    min-height: 18vh;
    min-width: auto;
    max-width: auto;
background-image:
    linear-gradient(to bottom, #9e8263 2px, transparent 2px),
    linear-gradient(to bottom, #9e8263 2px, transparent 2px),
    linear-gradient(to bottom, #9e8263 2px, transparent 2px),
    linear-gradient(to bottom, #9e8263 2px, transparent 2px),
    linear-gradient(to top, #9e8263 2px, transparent 2px),
    linear-gradient(to right, #9e8263 2px, transparent 2px),
    linear-gradient(to right, #9e8263 2px, transparent 2px),
    linear-gradient(to right, #9e8263 2px, transparent 2px),
    linear-gradient(to right, #9e8263 2px, transparent 2px);

background-size:
   100% 2px, 100% 2px, 100% 2px, 100% 2px, 100% 2px, 2px 100%, 2px 100%, 2px 100%, 2px 100%;

background-repeat: no-repeat;
background-position: left 0%, left 25%, left 50%, left 75%, left 100%, left top, 34% top, 67% top, 100% top;
}

.chordGroup > .dragging {
    /* background-image: url('data:image/svg+xml;utf8,...'); */
    cursor: grabbing;
}

.staffSpacer{
    height: 10vh;
}



/* =========================
   Chord Styles
   ========================= */
.chord {
    transition: transform 0.3s ease, padding 0.5s ease;
    display: flex;
    transform: scale(0.95);
    /* transition: all 2s ease-in-out; */
    animation: fadeIn 0.3s forwards;
    position: relative;
    opacity: 0.99;
    background: #eee;
    border-top: 8px solid #e2e2e2;
    border-bottom: 3px solid #7b7676;
    border-radius: 2px;
    height: max-content;
    overflow: visible;
    min-width: fit-content;
    min-height: fit-content;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 5px 10px;
    /* display: inline-flex; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: grab;
}

/* =========================
   Specific Chord Groups
   ========================= */
#chordGroupResults{
    background: none;
    padding: 0%;
    justify-content: space-evenly;
}

#chordGroupResults .chord {
    cursor: default;
    background: #eee;
    border-top: 8px solid #e2e2e2;
    border-bottom: 3px solid #7b7676;
    color: #000;
    min-height: fit-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Inner container for chord content */
.chord-content {
    position: relative;
    z-index: 2;
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 100%;
}

.chord.dragging {
    flex-basis: 5%;
    /* min-width:min-content; */
    /* width:10px; */
    /* overflow: hidden; */
    /* transform:matrix(.1,0,0,1,0,0); */

    cursor: grabbing;

    /* padding-left:0%;
        padding-right:0%; */

    /* margin: 0; */
    /* transition: scale 1s cubic-bezier(0.19, 1, 0.22, 1),color 0s ; */
    opacity: 0.5;
    /* Fade when dragging */
    transition: all 0.7s ease-in;
    animation: slideChord .3s ease-in-out;
}

.chord.dragging .chord-content {
    color: rgba(0, 0, 0, 1);
    /* display: none; */
    /* scale: .2; */
    /* width:5px; */
    transition: all .5s;
}

.chord span {
    margin-right: 10px;
}

.chord .xbutton {
    /* background-image: url("data:image/svg+xml,..."); */
    background: cover;
    background-repeat: no-repeat;
    border: none;
    font-size: 16px;
    cursor: auto;
}
.chord .xbutton:hover {
    background-color: #d1d1d1;
}

/*  =========================
    Animations
    ========================= */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

@keyframes slideChord {
    from {
        opacity: 0;
    }
    to {
        opacity: auto;
    }
}